__pycache__/
.snakemake/
envs/.snakemake/
.vscode/
*.egg-info

logs/
idx/
resources/bowtie2_index/*bt2
resources/rRNA_DB/*fasta
*.out
*.err
localDB/

# Do not ignore the local-wrappers directory, but ignore its contents
workflow/local-wrappers/*

#cond env
metatranscriptomic-conda-env/
metatranscriptomic-conda-env/*
metatranscriptomic-conda-env/08eaaece24f566e85b6bdd01a025bafc_.env_setup_done

# Environments
.env
*.env
# Contains full file paths
config/config_GPSC.yaml
metaT_pipeline_test.sh
profiles/slurm/config.yaml
