__pycache__/
.snakemake/
envs/.snakemake/
.vscode/
*.egg-info

logs/
idx/
resources/bowtie2_index/
resources/rRNA_DB/
*.out
*.err
localDB/

# Do not ignore the local-wrappers directory, but ignore its contents
workflow/local-wrappers/*
