
### How Snakemake will run on SBATCH ###
cores: 60
jobs: 10 
latency-wait: 60 
rerun-incomplete: true
retries: 2              
max-jobs-per-second: 2 
#cluster: "sbatch --cpus-per-task={resources.cpus} --mem={resources.mem_mb} --time={resources.time} --partition={resources.partition} --account={resources.account} --output=slurm-%j.out"
### SLURM ###
executor: slurm
default-resources:
  - mem_mb=8000             
  - slurm_partition=standard  
  - slurm_account=aafc_aac 

### Env modules ###
# use-envmodules: false 

### Conda ###
use-conda: true
conda-frontend: mamba   

### Resource scopes ###
set-resource-scopes:
  cores: local 

## Per rule resources
set-resources:
  fastp_pe:
    cpus: 2
    mem_mb: 4000
    time: "00:40:00"
    partition: standard
    account: aafc_aac

  bowtie2_align:
    cpus: 24
    mem_mb: 48000
    time: "00:30:00"
    partition: standard
    account: aafc_aac

  extract_unmapped_fastq:
    cpus: 60
    mem_mb: 64000
    time: "00:30:00"
    partition: standard
    account: aafc_aac

  sortmerna_pe:
    cpus: 48
    mem_mb: 32000
    time: "06:00:00"
    partition: standard
    account: aafc_aac

  kraken2:
    cpus: 2
    mem_mb: 600000
    time: "00:30:00"
    partition: large
    account: aafc_aac__large

  bracken:
    cpus: 2
    mem_mb: 4000
    time: "00:10:00"
    partition: standard
    account: aafc_aac

  combine_bracken_outputs:
    cpus: 1
    mem_mb: 2000
    time: "00:20:00"
    partition: standard
    account: aafc_aac

  bracken_extract:
    cpus: 1
    mem_mb: 2000
    time: "00:10:00"
    partition: standard
    account: aafc_aac

  rgi_reload_database:
    cpus: 1
    mem_mb: 2000
    time: "00:30:00"
    partition: standard
    account: aafc_aac

  rgi_bwt:
    cpus: 20
    mem_mb: 64000
    time: "01:00:00"
    partition: standard
    account: aafc_aac

  rna_spades:             
    cpus: 48
    mem_mb: 64000
    time: "04:00:00"
    partition: standard
    account: aafc_aac   

  rnaquast_busco:
    cpus: 4
    mem_mb: 16000
    time: "00:10:00"
    partition: standard
    account: aafc_aac  

  megahit_coassembly:
    cpus: 60
    mem_mb: 512000
    time: "04:00:00"
    partition: standard
    account: aafc_aac 

  index_coassembly:
    cpus: 8
    mem_mb: 16000
    time: "02:00:00"
    partition: standard
    account: aafc_aac

  bowtie2_map_transcripts:
    cpus: 16
    mem_mb: 32000
    time: "00:30:00"
    partition: standard
    account: aafc_aac

  assembly_stats_depth:
    cpus: 2
    mem_mb: 2000
    time: "00:30:00"
    partition: standard
    account: aafc_aac

  prodigal_genes:
    cpus: 1
    mem_mb: 2000
    time: "01:00:00"
    partition: standard
    account: aafc_aac

  featurecounts:
    cpus: 4
    mem_mb: 8000
    time: "00:10:00"
    partition: standard
    account: aafc_aac